@model LoginViewModel

<form asp-action="login" asp-controller="auth" method="post">
    <input name="username" type="text" />
    <input name="password" type="password"/>
    <button type="submit">Залогиниться</button>
</form>